*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    --background-color: #0a0a0a;
    --text-color: white;
    --subtle-text-color: #aaa;
    --accent-color: #0078d4;
    --danger-color: #d93e5d;
    --go-color: #22ff84;
    --success-color: rgb(0, 170, 0);
    --error-color: rgb(200, 0, 0);
    --dialog-background: #0005;
    --dialog-backdrop: #00000088;
    --color-1: color-mix(in srgb, 7.8% var(--text-color), var(--background-color));
    --color-2: color-mix(in srgb, 15.6% var(--text-color), var(--background-color));
    --color-1t: color-mix(in srgb, 7.8% var(--text-color), transparent);
    --color-2t: color-mix(in srgb, 15.6% var(--text-color), transparent);
    --sidebar: color-mix(in srgb, 7.8% var(--accent-color), var(--background-color));
    color-scheme: dark;
}

body.light {
    --background-color: white;
    --text-color: black;
    --subtle-text-color: #444;
    --accent-color: color-mix(in srgb, #0078d4, white);
    --danger-color: #d93e5d;
    --go-color: #22ff84;
    --success-color: rgb(180, 255, 180);
    --error-color: rgb(255, 180, 180);
    --dialog-background: #fff5;
    --dialog-backdrop: #00000088;
    --color-1: color-mix(in srgb, 7.8% var(--text-color), var(--background-color));
    --color-2: color-mix(in srgb, 15.6% var(--text-color), var(--background-color));
    --color-1t: color-mix(in srgb, 7.8% var(--text-color), transparent);
    --color-2t: color-mix(in srgb, 15.6% var(--text-color), transparent);
    --sidebar: color-mix(in srgb, 7.8% var(--accent-color), var(--background-color));
    color-scheme: light;
}

body {
    background: var(--background-color);
    display: flex;
    margin: 0;
    font-family: "Arial Rounded", Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

button {
    border: 0;
    padding: 0;
    text-align: left;
    background: none;
    font-family: inherit;
    color: inherit;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 300px;
    background-color: var(--sidebar);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
}

.player-switch {
    display: flex;
    padding: 8px;
    background-color: var(--color-1t);
    border-radius: 10px;
    cursor: pointer;
    gap: 8px;
    align-items: center;
    transition: background-color .25s, scale .1s;
    anchor-name: --player-switch;
}

.player-switch:active {
    scale: .95;
}

.menu-button {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    transition: background-color .25s, scale .1s;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
    text-decoration: none;
}

.menu-button:active {
    scale: .95;
}

.menu-button.selected {
    background-color: var(--color-1t);
}

.menu-button.selected .menu-icon {
    background-color: var(--accent-color);
}

.menu-button:hover .menu-icon {
    background-color: var(--accent-color);
}

.player-switch.not-selected {
    background-color: transparent;
}

.player-switch.not-selected .player-desc {
    display: none;
}

.player-switch:hover {
    background-color: var(--color-2t);
}

.menu-button:hover {
    background-color: var(--color-2t);
}

.player-head {
    border-radius: 5px;
    aspect-ratio: 1;
    height: 40px;
    image-rendering: pixelated;
}

.player-name {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.player-desc {
    font-size: .8rem;
    color: var(--subtle-text-color);
}


.player-chevron {
    font-size: .8rem;
    color: var(--subtle-text-color);
    margin-left: auto;
    transition: rotate .25s;
    margin-right: 8px;
}

.player-chevron:has(.fa-arrow-right-to-bracket) {
    font-size: 1.2rem;
    color: var(--text-color);
}

.player-delete {
    font-size: .8rem;
    color: var(--text-color);
    margin-left: auto;
    background-color: var(--color-1t);
    height: 32px;
    aspect-ratio: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .25s;
}

.player-delete:hover {
    background-color: var(--danger-color);
}

#player-dropdown:popover-open {
    height: max-content;
    display: grid;
    padding-block: 8px;

    @starting-style {
        height: 0px;
        padding-block: 0px;
    }
}

.player-info {
    margin-right: 16px;
}

#player-dropdown {
    inset: unset;
    background-color: var(--color-1);
    backdrop-filter: blur(10px);
    border: 0;
    padding: 8px;
    gap: 8px;
    overflow-y: hidden;
    position-anchor: --player-switch;
    position: fixed;
    top: calc(anchor(bottom) + 10px);
    left: anchor(left);
    border-radius: 10px;
    height: 0px;
    padding-block: 0px;
    interpolate-size: allow-keywords;
    transition: padding-block .25s, height .25s, overlay .25s allow-discrete, display .25s allow-discrete;
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    box-shadow: 0 0 10px black;
}

.context-menu {
    inset: unset;
    background-color: var(--color-1);
    backdrop-filter: blur(10px);
    border: 0;
    padding: 0px;
    overflow-y: hidden;
    position: fixed;
    border-radius: 10px;
    height: 0px;
    interpolate-size: allow-keywords;
    transition: height .25s, overlay .25s allow-discrete, display .25s allow-discrete;
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    box-shadow: 0 0 10px black;
    width: max-content;
}

.context-menu:popover-open {
    height: max-content;
    display: grid;

    @starting-style {
        height: 0px;
    }
}

.more-menu {
    inset: unset;
    background-color: var(--color-1);
    backdrop-filter: blur(10px);
    border: 0;
    padding: 0px;
    overflow-y: hidden;
    position: absolute;
    top: calc(anchor(bottom) + 5px);
    right: anchor(right);
    border-radius: 10px;
    height: 0px;
    interpolate-size: allow-keywords;
    transition: height .25s, overlay .25s allow-discrete, display .25s allow-discrete;
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    box-shadow: 0 0 10px black;
    width: max-content;
}

.more-menu:popover-open {
    height: max-content;
    display: grid;

    @starting-style {
        height: 0px;
    }
}

.context-menu-button {
    display: flex;
    padding: 8px;
    gap: 8px;
    cursor: pointer;
    transition: background-color .25s;
    align-items: center;
    font-size: 1rem;
}

.context-menu-button:hover {
    background-color: var(--color-1t);
}

.context-menu-button.danger:hover {
    /* background-color: color-mix(in srgb, 35% var(--danger-color), transparent); */
    background-color: var(--danger-color);
}

.context-menu-button.danger>i {
    transition: color .25s
}

.context-menu-button.danger:hover>i {
    color: var(--text-color);
}

.context-menu-button i {
    color: var(--subtle-text-color);
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-player {
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color-1t);
    width: max-content;
    cursor: pointer;
    transition: background-color .25s;
    display: flex;
    gap: 8px;
    align-items: center;
}

.add-player:hover {
    background-color: var(--color-2t);
}

.add-content-button {
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color-1t);
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
}

.add-content-button:hover {
    background-color: var(--color-2t);
}

.add-content-button:active {
    scale: .95;
}

.create-button {
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color-1t);
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
}

.create-button:active {
    scale: .95;
}

.create-button:hover {
    background-color: var(--color-2t);
}

.title-top {
    display: flex;
    align-items: center;
}

*:focus-visible,
.search-bar:has(.search-input:focus-visible) {
    outline-style: solid;
    outline-color: var(--accent-color);
    outline-width: 3.5px;
    z-index: 100000;
}

.menu-icon {
    height: 40px;
    border-radius: 5px;
    background-color: var(--color-1t);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    aspect-ratio: 1;
    font-size: 1.2rem;
    transition: background-color .25s;
}

.menu-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.content {
    position: absolute;
    top: 0;
    left: 301px;
    width: calc(100% - 301px);
    height: 100%;
}

.instance-content {
    padding: 10px;
    display: grid;
    gap: 10px;
}

h1 {
    margin: 0;
}

.search-and-filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    align-items: center;
}

.search-and-filter-v2 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.search {
    background-color: var(--color-1t);
    border-radius: 8px;
    padding: 8px;
    padding-left: 30px;
}

/* .item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 8px;
} */

.group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
    position: relative;
    font-size: 1.2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 8px;
    position: relative;
    font-size: 1.2rem;
}

.group:not(:has(.instance-item:not(.hidden))) {
    display: none;
}

.group:not([data-group-title=""]) {
    margin-top: calc(1lh + 10px);
}

.group:not([data-group-title=""])::after {
    content: attr(data-group-title);
    bottom: calc(100% + 10px);
    left: 0px;
    position: absolute;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--text-color);
    padding-right: 10px;
}

.group:not([data-group-title=""])::before {
    content: "";
    bottom: calc(100% + .5lh + 9px);
    width: 100%;
    font-size: 1.1rem;
    height: 2px;
    position: absolute;
    background-color: var(--color-2t);
}

.group-list {
    display: grid;
    gap: 10px;
}

.instance-item {
    background-color: var(--color-1t);
    border-radius: 10px;
    display: flex;
    padding: 8px;
    cursor: pointer;
    gap: 8px;
    align-items: center;
    transition: background-color .25s, scale .1s;
}

.instance-item.running {
    background-color: var(--accent-color);
}

.instance-item:active {
    scale: .95;
}

.instance-item:hover {
    background-color: var(--color-2t);
}

.instance-item.running:hover {
    background-color: color-mix(in srgb, 85% var(--accent-color), var(--text-color));
}

.instance-image {
    height: 40px;
    border-radius: 5px;
    width: 40px;
    image-rendering: pixelated;
    object-fit: contain;
}

.instance-name {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.instance-info {
    overflow: hidden;
}

.instance-item.running .instance-desc {
    color: var(--text-color);
}

.instance-desc {
    font-size: .8rem;
    color: var(--subtle-text-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.search-bar {
    display: flex;
    background-color: var(--color-1t);
    border-radius: 8px;
    align-items: center;
    grid-column: span 2;
    align-self: stretch;
    container-type: size;
    container-name: search;
}

@container search (min-width: 0px) {
    .search-clear {
        margin-inline: calc(50cqh - 16px);
    }
}

.search-icon {
    color: var(--subtle-text-color);
    padding: 8px;
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-size: 1.3rem;
}

.search-input {
    color: var(--text-color);
    padding-block: 8px;
    flex-grow: 1;
    min-width: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}

.search-input:focus-visible {
    outline: 0;
}


.search-clear {
    color: var(--subtle-text-color);
    cursor: pointer;
    padding: 8px;
    height: 32px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-size: 1rem;
}

.search-clear:hover {
    color: var(--text-color);
    background-color: var(--color-1t);
}

.search-dropdown {
    position: relative;
    background-color: var(--color-1);
    border-radius: 8px 8px 8px 8px;
    transition: border-radius .25s;
}

.search-dropdown:has(:popover-open) {
    border-radius: 8px 8px 0 0;
}

.dropdown-button {
    display: flex;
    cursor: pointer;
    padding: 8px;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

.dropdown-info {
    margin-right: 8px;
}

.dropdown-title {
    color: var(--subtle-text-color);
    font-size: .8rem;
}

.dropdown-selected {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem;
}


.dropdown-chevron {
    transition: rotate .25s;
    margin-left: auto;
    margin-left: auto;
}

.search-dropdown:has(:popover-open) .dropdown-chevron {
    rotate: 180deg;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color .25s;
}

.dropdown-item.selected {
    background-color: var(--accent-color);
    font-weight: bold;
}

.dropdown-item:focus-visible {
    background-color: var(--accent-color);
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: var(--color-1t);
}

.dropdown-item.selected:hover {
    background-color: color-mix(in srgb, 85% var(--accent-color), var(--text-color));
}

.dropdown-list {
    margin: 0;
    inset: unset;
    background-color: var(--color-1);
    backdrop-filter: blur(10px);
    border: 0;
    padding: 0px;
    overflow-y: hidden;
    flex-direction: column;
    position: fixed;
    top: anchor(bottom);
    left: anchor(left);
    width: anchor-size(width);
    border-radius: 0 0 10px 10px;
    height: 0px;
    padding-block: 0px;
    interpolate-size: allow-keywords;
    transition: height .25s, overlay .25s allow-discrete, display .25s allow-discrete;
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    box-shadow: 0 0 10px black;
}

.dropdown-list:popover-open {
    height: max-content;
    display: flex;

    @starting-style {
        height: 0px;
    }
}

.dropdown-list-dialog {
    margin: 0;
    inset: unset;
    background-color: var(--color-1);
    backdrop-filter: blur(10px);
    border: 0;
    padding: 0px;
    overflow-y: auto;
    flex-direction: column;
    position: fixed;
    top: anchor(bottom);
    left: anchor(left);
    width: anchor-size(width);
    border-radius: 0 0 10px 10px;
    height: 0px;
    padding-block: 0px;
    interpolate-size: allow-keywords;
    transition: height .25s, overlay .25s allow-discrete, display .25s allow-discrete;
    border-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
    box-shadow: 0 0 10px black;
}

.dropdown-list-dialog:popover-open {
    height: 200px;
    display: flex;

    @starting-style {
        height: 0px;
    }
}

.instance-top {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: var(--color-2t);
    padding-bottom: 10px;
}

.instance-top-image {
    height: 98px;
    width: 98px;
    border-radius: 12px;
    image-rendering: pixelated;
    background-color: var(--color-1);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
    object-fit: contain;
}

.instance-top-info {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.instance-top-sub-info {
    display: flex;
    gap: 20px;
}

.instance-top-sub-info-specific {
    display: flex;
    gap: 10px;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    align-items: center;
}

.instance-top-sub-info-specific i {
    color: var(--subtle-text-color);
}

.instance-top-sub-info-specific:not(:last-of-type)::after {
    width: 2px;
    background-color: var(--color-2t);
    height: 100%;
    left: calc(100% + 9px);
    top: 0px;
    position: absolute;
    content: "";
}

.instance-top-play-button {
    border-radius: 10px;
    background-color: var(--go-color);
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    margin-left: auto;
}

.instance-top-play-button:active {
    scale: .95;
}

.instance-top-play-button:hover {
    background-color: color-mix(in srgb, 70% var(--go-color), var(--text-color));
}

.instance-top-loading-button {
    border-radius: 10px;
    background-color: color-mix(in srgb, var(--go-color), black);
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    cursor: not-allowed;
    transition: background-color .25s, scale .1s;
    margin-left: auto;
}

.spinner {
    height: 1lh;
    width: 1lh;
    border-radius: 50%;
    border-color: currentColor transparent transparent transparent;
    border-width: 3px;
    border-style: solid;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.instance-top-stop-button {
    border-radius: 10px;
    background-color: var(--danger-color);
    padding: 10px;
    font-size: 1.5rem;
    color: black;
    display: flex;
    gap: 10px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    margin-left: auto;
}

.instance-top-stop-button:active {
    scale: .95;
}

.instance-top-stop-button:hover {
    background-color: color-mix(in srgb, 70% var(--danger-color), var(--text-color));
}

.instance-top-more:active {
    scale: .95;
}

.instance-top-more {
    padding: 10px;
    height: calc(1lh + 20px);
    aspect-ratio: 1;
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.5rem;
    transition: background-color .25s, scale .1s;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.instance-top-more:hover {
    background-color: var(--color-2t);
}

.instance-top-title {
    font-size: 2rem;
}

.tab-list {
    background-color: var(--color-1);
    border-radius: 10000px;
    display: flex;
    padding: 4px;
    width: max-content;
    max-width: 100%;
    position: relative;
}

.tab-button {
    padding: 10px;
    padding-inline: 18px;
    font-weight: bold;
    font-size: .95rem;
    border-radius: 10000px;
    cursor: pointer;
    transition: background-color .25s, color .25s, scale .1s;
    z-index: 2;
}

.tab-button:active {
    scale: .9;
}

.tab-list::before {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: var(--left);
    right: var(--right);
    background-color: var(--color, var(--accent-color));
    border-radius: 10000px;
    content: "";
    transition: var(--transition);
}

.tab-info {
    display: grid;
}

i {
    height: 1lh;
}

.content-list-wrapper {
    display: grid;
}

.content-list-top {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.content-list {
    display: grid;
    background-color: var(--color-1t);
    border-radius: 10px;
}

.content-list-checkbox {
    border-radius: 2.5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.content-list-title {
    font-size: 1rem;
    color: var(--text-color);
    width: 10px;
    flex-grow: 1;
    display: none;
}

.content-list-refresh {
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    margin-left: auto;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
}

.content-list-top:not(:has(.content-list-refresh)) .content-list-update-all {
    margin-left: auto;
}

.content-list-refresh:active {
    scale: .95;
}

.content-list-refresh:hover {
    background-color: var(--color-1t);
}

.content-list-update-all {
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
    color: color-mix(in srgb, var(--accent-color), var(--text-color));
}

.content-list-update-all:active {
    scale: .95;
}

.content-list-update-all:hover {
    background-color: var(--color-1t);
}

.content-list-item {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    position: relative;
    --content-accent-color: transparent;
}

.content-list-item::after {
    position: absolute;
    left: -1px;
    height: 50%;
    top: 25%;
    width: 4px;
    border-radius: 2px;
    background-color: var(--content-accent-color);
    content: "";
}

.content-list-item:not(:has(.content-list-toggle)) .content-list-remove {
    margin-left: auto;
}

.content-list-item:not(:has(.content-list-toggle)):not(:has(.content-list-remove)) .content-list-more {
    margin-left: auto;
}

.content-list-item:not(.hidden):not(:last-of-type) {
    border-bottom-style: solid;
    border-bottom-color: var(--color-1t);
    border-bottom-width: 1px;
}

.content-list-info {
    width: 10px;
    flex-grow: 1;
}

.content-list-image {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.content-list-info-title-1 {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content-list-info-title-2 {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content-list-info-desc-1 {
    font-size: .8rem;
    color: var(--subtle-text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content-list-info-desc-2 {
    font-size: .8rem;
    color: var(--subtle-text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.content-list-remove {
    font-size: .8rem;
    color: var(--text-color);
    background-color: var(--color-1t);
    height: 32px;
    aspect-ratio: 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
}

.content-list-remove:active {
    scale: .95;
}

.content-list-remove:hover {
    background-color: var(--danger-color);
}

.content-list-more {
    font-size: .8rem;
    color: var(--text-color);
    background-color: var(--color-1t);
    height: 32px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .25s, scale .1s;
}

.content-list-more:active {
    scale: .95;
}

.content-list-more:hover {
    background-color: var(--accent-color);
}

.content-list-toggle {
    margin-left: auto;
}

.toggle {
    padding: 4px;
    width: 44px;
    height: 26px;
    background-color: var(--color-1t);
    position: relative;
    cursor: pointer;
    border-radius: 1000px;
    --left: 4px;
    transition: background-color .25s, scale .1s;
}

.toggle:active {
    scale: .95;
}

.toggle.toggled {
    --left: 22px;
    background-color: var(--accent-color);
}

.toggle-inside {
    background-color: var(--text-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: var(--left);
    top: 4px;
    transition: left .125s;
}

.content-list-item:has(.content-list-toggle:not(.toggled))>*,
.content-list-item:has(.content-list-toggle:not(.toggled))::after {
    opacity: .3;
}

.modrinth {
    --content-accent-color: #1bd96a;
}

.curseforge {
    --content-accent-color: #f16436;
}

.vanilla_tweaks {
    --content-accent-color: #f1c218;
}

.minecraft_maps {
    --content-accent-color: #c6c5c1;
}

.planet_minecraft {
    --content-accent-color: #3da2ff;
}

.player_install {
    --content-accent-color: #666;
}

.mc-black {
    color: #000000;
}

.mc-dark_blue {
    color: #0000AA;
}

.mc-dark_green {
    color: #00AA00;
}

.mc-dark_aqua {
    color: #00AAAA;
}

.mc-dark_red {
    color: #AA0000;
}

.mc-dark_purple {
    color: #AA00AA;
}

.mc-gold {
    color: #FFAA00;
}

.mc-gray {
    color: #AAAAAA;
}

.mc-dark_gray {
    color: #555555;
}

.mc-blue {
    color: #5555FF;
}

.mc-green {
    color: #55FF55;
}

.mc-aqua {
    color: #55FFFF;
}

.mc-red {
    color: #FF5555;
}

.mc-light_purple {
    color: #FF55FF;
}

.mc-yellow {
    color: #FFFF55;
}

.mc-white {
    color: #FFFFFF;
}

.mc-bold {
    font-weight: bold;
}

.mc-italic {
    font-style: italic;
}

.mc-underline {
    text-decoration: underline;
}

.mc-strikethrough {
    text-decoration: line-through;
}

.mc-obfuscated {
    animation: obfuscate 0.1s infinite steps(1);
}

@keyframes obfuscate {
    from {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.live {
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-1t);
    align-items: center;
    height: 40px;
    border-radius: 8px;
}

.live-name {
    flex-grow: 1;
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 8px;
    overflow: hidden;
}

.live-name>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.live-stop {
    display: grid;
    height: 38px;
    width: 38px;
    cursor: pointer;
    place-items: center;
    transition: background-color .25s;
    color: var(--danger-color);
    border-radius: 8px;
    flex-shrink: 0;
}

.live-stop:hover {
    background-color: var(--color-1t);
}

.live-log {
    display: grid;
    height: 38px;
    width: 38px;
    cursor: pointer;
    place-items: center;
    transition: background-color .25s;
    border-radius: 8px;
    flex-shrink: 0;
}

.live-log:hover {
    background-color: var(--color-1t);
}

.live:not(.minecraft-live) .live-stop {
    display: none;
}

.live:not(.minecraft-live) .live-log {
    display: none;
}

.live-indicator {
    width: 10px;
    height: 10px;
    background-color: var(--subtle-text-color);
    border-radius: 50%;
    margin-inline: 10px;
    margin-block: 15px;
    transition: color .25s;
    flex-shrink: 0;
}

.live.minecraft-live .live-indicator {
    background-color: var(--go-color);
}

.download-log {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--color-1);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-2);
    border-radius: 8px;
    padding-inline: 8px;
}

.download-log:empty {
    opacity: 0;
}

.download-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 8px;
}

.download-item:not(:last-child) {
    border-bottom-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
}

.download-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.download-desc {
    font-size: 1rem;
}

.download-progress {
    background-color: var(--subtle-text-color);
    border-radius: 100px;
    height: 12px;
    width: 100%;
    position: relative;
}

.download-progress::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--percent);
    background-color: var(--accent-color);
    transition: width .1s;
    content: "";
    border-radius: 100px;
}

.logs {
    display: grid;
}

.logs-copy {
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    margin-left: auto;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
}

.logs-copy:active {
    scale: .95;
}

.logs-copy:hover {
    background-color: var(--color-1t);
}

.logs-share {
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
    color: color-mix(in srgb, var(--accent-color), var(--text-color));
}

.logs-share:active {
    scale: .95;
}

.logs-share:hover {
    background-color: var(--color-1t);
}

.logs-delete {
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    font-size: 1rem;
    align-items: center;
    align-self: stretch;
    color: color-mix(in srgb, var(--danger-color), var(--text-color));
}

.logs-delete:active {
    scale: .95;
}

.logs-delete:hover {
    background-color: var(--color-1t);
}

.logs-top {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.logs-display {
    font-family: monospace;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    max-width: 100%;
    overflow: auto;
    display: grid;
    max-height: 600px;
    position: relative;
    overflow-x: scroll;
}

.logs-visible {
    display: grid;
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

dialog {
    border: 0;
    padding: 0;
    display: none;
    opacity: 0;
    translate: 0 25vh;
    transition-property: overlay display opacity;
    transition-duration: .5s;
    transition-behavior: allow-discrete;
}

dialog[open] {
    display: block;
    opacity: 1;
    translate: 0 0;

    @starting-style {
        opacity: 0;
        translate: 0 -25vh;
    }
}

dialog::backdrop {
    background-color: var(--dialog-backdrop);
    transition-property: overlay display opacity;
    transition-duration: .5s;
    transition-behavior: allow-discrete;
    opacity: 0;
    backdrop-filter: blur(0px);
}

dialog[open]::backdrop {
    opacity: 1;
    backdrop-filter: blur(5px);

    @starting-style {
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}

.dialog-top {
    height: 60px;
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color-2);
}

.dialog-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialog-x {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color .25s, scale .1s;
    margin-left: auto;
}

.dialog-x:hover {
    background-color: var(--color-1t);
}

.dialog-x:active {
    scale: .95;
}

.dialog {
    border-radius: 10px;
    background-color: var(--dialog-background);
    backdrop-filter: blur(30px);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
    min-width: 400px;
    box-shadow: 0px 0px 10px black;
    max-width: 600px;
}

.dialog-content {
    padding: 10px;
    display: grid;
    gap: 10px;
}

.dialog-content-inner {
    display: grid;
    gap: 10px;
}

.dialog-buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-top-style: solid;
    border-width: 1px;
    border-color: var(--color-2);
}

.dialog-button {
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color .25s, scale .1s;
    font-size: 1rem;
}

.dialog-button:first-child {
    margin-left: auto;
}

.dialog-button:active {
    scale: .95;
}

.dialog-button:hover {
    background-color: color-mix(in srgb, 85% var(--text-color), var(--text-color));
}

.dialog-button.confirm {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.dialog-button.confirm:hover {
    background-color: color-mix(in srgb, 85% var(--accent-color), var(--text-color));
}

.dialog-text-input {
    color: var(--text-color);
    padding: 8px;
    flex-grow: 1;
    min-width: 0;
    border: 0;
    border-radius: 5px;
    background: var(--color-1);
    font-size: 1.1rem;
}

.dialog-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.dialog-text-label-wrapper {
    display: grid;
    gap: 4px;
}

.dialog-text-label-wrapper-horizontal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.image-upload-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.image-preview {
    height: 98px;
    width: 98px;
    border-radius: 12px;
    image-rendering: pixelated;
    object-fit: contain;
    flex-shrink: 0;
    background-color: var(--color-1);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
}

.image-upload-buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.image-upload-button {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    transition: background-color .25s, scale .1s;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
    background-color: var(--color-1);
    text-decoration: none;
}

.image-upload-button:active {
    scale: .95;
}

.log-info {
    color: skyblue;
}

.log-error {
    color: lightcoral;
}

.log-warn {
    color: yellow;
}

.logs-display:not(.word-wrap) .log-entry {
    white-space: nowrap;
}

.logs-display.word-wrap .log-entry {
    overflow-wrap: anywhere;
}

.log-entry {
    height: 15px;
}

.discover-list {
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.discover-item {
    display: flex;
    background-color: var(--color-1);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    min-width: 0;
    align-items:center;
}

.discover-item-image {
    height: 98px;
    width: 98px;
    border-radius: 12px;
    image-rendering: pixelated;
    background-color: var(--color-1);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
    object-fit: contain;
    flex-shrink: 0;
    align-self: flex-start;
}

.discover-item-info {
    display: grid;
    flex-shrink: 1;
    min-width: 0;
}

.discover-item-title {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 0;
    min-width: 0;
    flex-shrink: 1;
}

.discover-item-title>div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.discover-item-author {
    color: var(--subtle-text-color);
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 0;
    margin-bottom: 2px;
    flex-shrink: 0;
}

.discover-item-desc {
    color: var(--subtle-text-color);
    font-size: 1rem;
    margin-top: 10px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.discover-item-actions {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    flex-shrink: 0;
    align-self: stretch;
}

.discover-item-downloads {
    color: var(--subtle-text-color);
    font-size: 1rem;
}

.discover-item-install {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
    border-style: solid;
    border-color: color-mix(in srgb, var(--accent-color), var(--text-color));
    border-width: 2px;
    color: color-mix(in srgb, var(--accent-color), var(--text-color));
    margin-top: auto;
}

.discover-item-install:active {
    scale: .95;
}

.discover-item-install:hover {
    background-color: var(--color-1t);
}

.discover-item-install.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.discover-item-install.disabled:active {
    scale: 1;
}

.discover-item-install.disabled:hover {
    background-color: transparent;
}

.discover-item-tags {
    display: flex;
    gap: 4px;
    margin-top: 10px;
    max-width: 100%;
    overflow: hidden;
}

.discover-item-tag {
    font-size: .9rem;
    background-color: var(--color-1t);
    padding: 4px;
    border-radius: 100px;
    color: var(--subtle-text-color);
    padding-inline: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discover-item-top {
    display: flex;
    gap: 6px;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}

.error {
    max-width: calc(100svw - 20px);
    color: var(--text-color);
    background-color: var(--error-color);
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(150%);
    transition: transform .25s, display .25s allow-discrete;
    width: max-content;
    margin-block: 0;
    font-size: 1rem;
    border-width: 2px;
    border-color: var(--text-color);
    border-style: solid;
    margin-left: auto;
    box-shadow: 0px 0px 10px black;
}

.error.shown {
    display: block;
    transform: translateX(0);

    @starting-style {
        transform: translateX(150%);
    }
}

.success {
    max-width: calc(100svw - 20px);
    color: var(--text-color);
    background-color: var(--success-color);
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(150%);
    transition: transform .25s, display .25s allow-discrete;
    width: max-content;
    margin-block: 0;
    font-size: 1rem;
    border-width: 2px;
    border-color: var(--text-color);
    border-style: solid;
    margin-left: auto;
    box-shadow: 0px 0px 10px black;
}

.success.shown {
    display: block;
    transform: translateX(0);

    @starting-style {
        transform: translateX(150%);
    }
}

.toasts {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    gap: 10px;
    width: max-content;
    overflow: hidden;

}

.vt-button-wrapper {
    display: flex;
}

.vt-submit-button {
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color-1t);
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
    font-size: 1rem;
    font-weight: bold;
}

.vt-submit-button:active {
    scale: .95;
}

.vt-submit-button:hover {
    background-color: var(--color-2t);
}

.gallery-screenshot {
    border-radius: 12px;
    background-color: var(--color-1);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
    background-image: var(--image);
    aspect-ratio: 1920 / 1009;
    cursor: pointer;
    transition: scale .1s;
}

.gallery-screenshot:active {
    scale: .9;
}

.gallery-screenshot:hover {
    scale: .95;
}

.gallery-screenshot::after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: var(--text-color);
    background-color: var(--dialog-backdrop);
    padding: 8px;
    font-weight: bold;
    font-size: 1rem;
    content: attr(data-title);
    text-align: center;
}

.screenshot-preview {
    border-radius: 10px;
    background-color: var(--dialog-background);
    backdrop-filter: blur(30px);
    border-color: var(--color-2);
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 10px black;
}

.screenshot-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: calc(100svw - 100px);
    height: calc(100svh - 100px);
    padding-left: 10px;
}

.screenshot-arrow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--text-color);
    border-radius: 50%;
    flex-shrink: 0;
    transition: background-color .25s, scale .1s;
    font-size: 1.2rem;
}

.screenshot-arrow:active {
    scale: .95;
}

.screenshot-arrow:hover {
    background-color: var(--subtle-text-color);
}

.screenshot-info {
    background-color: var(--dialog-background);
    backdrop-filter: blur(30px);
    border-color: var(--color-2);
    border-width: 1px;
    border-left-style: solid;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}

.screenshot-title {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    padding-block: 10px;
    border-block-style: solid;
    border-color: var(--color-2);
    border-width: 1px;
}

.screenshot-actions {
    display: grid;
    gap: 10px;
}

.screenshot-action {
    border-radius: 10px;
    padding: 8px;
    background-color: var(--color-1t);
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
}

.screenshot-action:active {
    scale: .95;
}

.screenshot-action:hover {
    background-color: var(--color-2t);
}

.screenshot-display {
    flex-grow: 1;
    width: 0px;
    object-fit: contain;
    max-height: 100%;
}

.screenshot-action>i {
    width: 20px;
    text-align: center;
}

#settingsButtonEle {
    background-color: var(--color-1t);
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-1t);
    gap: 20px;
    padding: 45px;
    border-radius: 20px;
}

.loading-container-spinner {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border-color: var(--text-color) transparent transparent transparent;
    border-width: 5px;
    border-style: solid;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

.loading-container-error {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: color-mix(in srgb, 20% var(--danger-color), transparent);
    color: var(--danger-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.loading-container-question {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: color-mix(in srgb, 20% var(--accent-color), transparent);
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.loading-container-text {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    overflow-wrap: anywhere;
    max-width: 100%;
    text-align: center;
}

.loading-container-refresh {
    background-color: var(--color-1t);
    border-radius: 10px;
    padding: 8px;
    width: max-content;
    cursor: pointer;
    transition: background-color .25s, scale .1s;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}

.loading-container-refresh:active {
    scale: .95;
}

.loading-container-refresh:hover {
    background-color: var(--color-2t);
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.page {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--text-color);
    background-color: var(--color-1);
    cursor: pointer;
    border-radius: 100px;
    font-size: 1rem;
    transition: background-color .25s, scale .1s;
    min-width: calc(1lh + 16px);
}

.page.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.page.selected {
    background-color: var(--accent-color);
    font-weight: bold;
}

.page:active {
    scale: .9;
}

.page.disabled:active {
    scale: 1;
}

.page:hover {
    background-color: var(--color-2);
}

.page.disabled:hover {
    background-color: var(--color-1);
}

.page.selected:hover {
    background-color: color-mix(in srgb, 85% var(--accent-color), var(--text-color));
}

.page-collapse {
    display: flex;
    justify-content: center;
    align-items:center;
    color: var(--text-color);
}